<div class="card">
    <div class="card-body">
        <form [formGroup]="passwordData" (ngSubmit)="submit()">
            <!-- Password section with validation -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Enter Password:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="password" formControlName="password" class="form-control" required pattern="^([a-zA-Z0-9@*#]{8,15})$" placeholder="password" appPasswordValidator="confirmPassword" reverse="true">

                        <div class="alert alert-danger " *ngIf="formData.password.invalid && (formData.password.dirty||formData.password.touched)">
                            <div *ngIf="formData.password.errors.required">
                                Password is required
                            </div>
                            <div *ngIf="formData.password.errors.pattern">
                                Password is not valid
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Confirm password validation -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Confirm Password:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirm password" appPasswordValidator="password" reverse="false">
                        <div class="alert alert-danger " *ngIf="formData.confirmPassword.invalid && (formData.confirmPassword.dirty||formData.confirmPassword.touched)">
                            <div *ngIf="formData.confirmPassword.errors.required">
                                Confirm Password is required
                            </div>
                            <div *ngIf="formData.confirmPassword.errors">
                                Confirm Password does not match with password
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submitting form -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-primary" [disabled]="passwordData.invalid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>